*{
    margin:0;
    padding: 0;
}
body{
    background-color: white;
}

.principal {
    width: 1200px;
}

header{
    border-color: black;
    border-top: 20px;
    border-right: 20px;
    border-left: 20px;
    border-bottom: 10px;
    border-style:solid;
}

.fondo-azul {
    background-color:cadetblue;
    height: 50px;
    margin:0;
    padding: 0;
}

header div{
    margin:20px auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    border-color: cadetblue;
    border-width: 20px;
}

.subtitulo {
    border-color: black;
    border-right: 20px;
    border-left: 20px;
    border-bottom: 20px;
    border-top: 0;
    border-style:solid;
}

.fondo-verde {
    background-color:greenyellow;
    height: 50px;
    padding: 10px;
    text-align: left;
    text-justify: distribute;
}

article {
    border-color: black;
    border: 20px;
    border-style:solid;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    background-color: greenyellow; 
}

article p{
    padding-left: 10px;
    padding-top: 20px;
}

.boxleft{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    background-color: greenyellow;
    justify-content: space-around;
    text-align: left;
    padding: 10px;
}

ul li{
    list-style: none;
    display: inline-block;
    text-align: auto;
    padding: 10px;
}

.anuncio{
    border-color: black;
    border-right: 0;
    border-left: 10px;
    border-bottom: 0;
    border-top: 0;
    border-style:solid;
    background-color: blueviolet;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 700px;
}

.footer {
    border-color: black;
    border-right: 20px;
    border-left: 20px;
    border-bottom: 20px;
    border-top: 20px;
    padding: 4px 10px 4px 10px;
    border-style:solid;
    background-color:greenyellow;
}

/* RESPONSIVE*/
@media only screen and (max-width: 1200px){
    .principal {
        width: auto;
    }
}

@media only screen and (max-width: 800px){
    .principal {
        width: auto;
    }
    article {
        border-color:yellow;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .boxleft{
        display: flex;
	    flex-direction:column;
	    justify-content: center;
        padding: 10px;
        border-color:yellow;
        margin-bottom: 20px;
    }
    .anuncio{
        border-color:yellow;
        border-right: 20px;
        border-left: 20px;
        border-bottom: 20px;
        border-top: 0;
        width: auto;
        background-color: red;
    }
    .anuncio p{
        text-align: left;
        padding: 10px;  
    }
}

@media only screen and (max-width: 576px){
    .principal {
        width: auto;
    }
    header div{
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    article {
        border-color: yellow;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .fondo-verde {
        height: auto;
        padding: 10px;
        text-align: left;
        text-justify: distribute;
    }
    .anuncio{
        border-color:yellow;
        background-color: red;
        padding: 10px;   
    }
}